CSCI927/Project/src/WSDL/General/ADU/Delete.wsdl

<?xml version="1.0"?>
<definitions name="Delete"
             targetNamespace="http://csci927.com/delete.wsdl"
             xmlns:tns="http://csci927.com/delete.wsdl"
             xmlns:xsd1="http://csci927.com/delete.xsd"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
              
  
  <types>
    <schema targetNamespace="http://csci927.com/delete.xsd"
            xmlns="http://www.w3.org/1999/XMLSchema">
      <element name="DeleteRequest">
        <complexType>
          <all>
            <element name="SessionId" type="string"/>
            <element name="DataId" type="string"/>
            <element name="DataType" type="string"/>
          </all>
        </complexType>
      </element>
      <element name="DeleteResult">
        <complexType>
          <all>
            <element name="ReturnCode" type="int"/>
            <element name="ReturnMessage" type="string"/>
          </all>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="DeleteInput">
    <part name="body" element="xsd1:DeleteRequest"/>
  </message>
  
  <message name="DeleteOutput">
    <part name="body" element="xsd1:DeleteResult"/>
  </message>

  <portType name="DeletePortType">
    <operation name="Delete">
      <input message="tns:DeleteInput"/>
      <output message="tns:DeleteOutput"/>
    </operation>
  </portType>

  <binding name="DeleteBinding" type="tns:DeletePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http">
      <operation name="Delete">
        <soap:operation soapAction="http://csci927.com/delete">
          <input>
            <soap:body use="literal" namespace="http://csci927.com/delete.xsd"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </input>
          <output>
            <soap:body use="literal" namespace="http://csci927.com/delete.xsd"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </output>
        </soap:operation>
      </operation>
    </soap:binding>
  </binding>

  <service name="DeleteService">
    <documentation>Delete Account Service</documentation> 
    <port name="DeletePort" binding="tns:DeleteBinding">
    <soap:address location="http://csci927.com/delete"/>
    </port>
  </service>
  
</definitions>