CSCI927/Project/src/WSDL/General/ADU/Update.wsdl

<?xml version="1.0"?>
<definitions name="Update"
             targetNamespace="http://csci927.com/update.wsdl"
             xmlns:tns="http://csci927.com/update.wsdl"
             xmlns:xsd1="http://csci927.com/update.xsd"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
              
  
  <types>
    <schema targetNamespace="http://csci927.com/update.xsd"
            xmlns="http://www.w3.org/1999/XMLSchema">
      <element name="UpdateRequest">
        <complexType>
          <all>
            <element name="SessionId" type="string"/>
            <element name="DataType" type="string"/>
            <element name="Data" type="json"/>
          </all>
        </complexType>
      </element>
      <element name="UpdateResult">
        <complexType>
          <all>
            <element name="ReturnCode" type="int"/>
            <element name="ReturnMessage" type="string"/>
            <element name="Message" type="string"/>
          </all>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="UpdateInput">
    <part name="body" element="xsd1:UpdateRequest"/>
  </message>
  
  <message name="UpdateOutput">
    <part name="body" element="xsd1:UpdateResult"/>
  </message>

  <portType name="UpdatePortType">
    <operation name="Update">
      <input message="tns:UpdateInput"/>
      <output message="tns:UpdateOutput"/>
    </operation>
  </portType>

  <binding name="UpdateBinding" type="tns:UpdatePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http">
      <operation name="Update">
        <soap:operation soapAction="http://csci927.com/update">
          <input>
            <soap:body use="literal" namespace="http://csci927.com/update.xsd"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </input>
          <output>
            <soap:body use="literal" namespace="http://csci927.com/update.xsd"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </output>
        </soap:operation>
      </operation>
    </soap:binding>
  </binding>

  <service name="UpdateService">
    <documentation>Update Account Service</documentation> 
    <port name="UpdatePort" binding="tns:UpdateBinding">
    <soap:address location="http://csci927.com/update"/>
    </port>
  </service>
  
</definitions>