CSCI927/project/src/WSDL/Netdisc/UploadFile.wsdl

<?xml version="1.0"?>
<definitions name="UploadFile"
             targetNamespace="http://csci927.com/uploadfile.wsdl"
             xmlns:tns="http://csci927.com/uploadfile.wsdl"
             xmlns:xsd1="http://csci927.com/uploadfile.xsd"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
              
  
  <types>
    <schema targetNamespace="http://csci927.com/uploadfile.xsd"
            xmlns="http://www.w3.org/1999/XMLSchema">
      <element name="UploadFileRequest">
        <complexType>
          <all>
            <element name="SessionId" type="string"/>
            <element name="File" type="bytes"/>
            <element name="Filename" type="bytes"/>

          </all>
        </complexType>
      </element>
      <element name="UploadFileResult">
        <complexType>
          <all>
            <element name="ReturnCode" type="int"/>
            <element name="ReturnMessage" type="string"/>
          </all>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="UploadFileInput">
    <part name="body" element="xsd1:UploadFileRequest"/>
  </message>
  
  <message name="UploadFileOutput">
    <part name="body" element="xsd1:UploadFileResult"/>
  </message>

  <portType name="UploadFilePortType">
    <operation name="UploadFile">
      <input message="tns:UploadFileInput"/>
      <output message="tns:UploadFileOutput"/>
    </operation>
  </portType>

  <binding name="UploadFileBinding" type="tns:UploadFilePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http">
      <operation name="UploadFile">
        <soap:operation soapAction="http://csci927.com/uploadfile">
          <input>
            <soap:body use="literal" namespace="http://csci927.com/uploadfile.xsd"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </input>
          <output>
            <soap:body use="literal" namespace="http://csci927.com/uploadfile.xsd"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </output>
        </soap:operation>
      </operation>
    </soap:binding>
  </binding>

  <service name="UploadFileService">
    <documentation>UploadFile Account Service</documentation> 
    <port name="UploadFilePort" binding="tns:UploadFileBinding">
    <soap:address location="http://csci927.com/uploadfile"/>
    </port>
  </service>
  
</definitions>