CSCI927/Project/src/WSDL/Social/Contact/DeleteContact.wsdl

<?xml version="1.0"?>
<definitions name="DeleteContact"
             targetNamespace="http://csci927.com/deletecontact.wsdl"
             xmlns:tns="http://csci927.com/deletecontact.wsdl"
             xmlns:xsd1="http://csci927.com/deletecontact.xsd"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
              
  
  <types>
    <schema targetNamespace="http://csci927.com/deletecontact.xsd"
            xmlns="http://www.w3.org/1999/XMLSchema">
      <element name="DeleteContactRequest">
        <complexType>
          <all>
            <element name="SessionId" type="string"/>
            <element name="ContactUsername" type="string"/>
          </all>
        </complexType>
      </element>
      <element name="DeleteContactResult">
        <complexType>
          <all>
            <element name="ReturnCode" type="int"/>
            <element name="ReturnMessage" type="string"/>
          </all>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="DeleteContactInput">
    <part name="body" element="xsd1:DeleteContactRequest"/>
  </message>
  
  <message name="DeleteContactOutput">
    <part name="body" element="xsd1:DeleteContactResult"/>
  </message>

  <portType name="DeleteContactPortType">
    <operation name="DeleteContact">
      <input message="tns:DeleteContactInput"/>
      <output message="tns:DeleteContactOutput"/>
    </operation>
  </portType>

  <binding name="DeleteContactBinding" type="tns:DeleteContactPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http">
      <operation name="DeleteContact">
        <soap:operation soapAction="http://csci927.com/deletecontact">
          <input>
            <soap:body use="literal" namespace="http://csci927.com/deletecontact.xsd"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </input>
          <output>
            <soap:body use="literal" namespace="http://csci927.com/deletecontact.xsd"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </output>
        </soap:operation>
      </operation>
    </soap:binding>
  </binding>

  <service name="DeleteContactService">
    <documentation>DeleteContact Account Service</documentation> 
    <port name="DeleteContactPort" binding="tns:DeleteContactBinding">
    <soap:address location="http://csci927.com/deletecontact"/>
    </port>
  </service>
  
</definitions>