2019fall/CSCI927/project/src/WSDL/Study/Task/TrackTask.wsdl

<?xml version="1.0"?>
<definitions name="TrackTask"
             targetNamespace="http://csci927.com/tracktask.wsdl"
             xmlns:tns="http://csci927.com/tracktask.wsdl"
             xmlns:xsd1="http://csci927.com/tracktask.xsd"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema targetNamespace="http://csci927.com/tracktask.xsd"
            xmlns="http://www.w3.org/1999/XMLSchema">
      <element name="TrackTaskRequest">
        <complexType>
          <all>
            <element name="SessionId" type="string"/>
            <element name="TaskId" type="string"/>w
          </all>
        </complexType>
      </element>
      <element name="TrackTaskResult">
        <complexType>
          <all>
            <element name="ReturnCode" type="int"/>
            <element name="ReturnMessage" type="string"/>
          </all>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="TrackTaskInput">
    <part name="body" element="xsd1:TrackTaskRequest"/>
  </message>
  
  <message name="TrackTaskOutput">
    <part name="body" element="xsd1:TrackTaskResult"/>
  </message>

  <portType name="TrackTaskPortType">
    <operation name="TrackTask">
      <input message="tns:TrackTaskInput"/>
      <output message="tns:TrackTaskOutput"/>
    </operation>
  </portType>

  <binding name="TrackTaskBinding" type="tns:TrackTaskPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http">
      <operation name="TrackTask">
        <soap:operation soapAction="http://csci927.com/tracktask">
          <input>
            <soap:body use="literal" namespace="http://csci927.com/tracktask.xsd"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </input>
          <output>
            <soap:body use="literal" namespace="http://csci927.com/tracktask.xsd"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </output>
        </soap:operation>
      </operation>
    </soap:binding>
  </binding>

  <service name="TrackTaskService">
    <documentation>TrackTask Account Service</documentation> 
    <port name="TrackTaskPort" binding="tns:TrackTaskBinding">
    <soap:address location="http://csci927.com/tracktask"/>
    </port>
  </service>
  
</definitions>