2019fall/CSCI927/project/src/WSDL/Social/Contact/BlockContact.wsdl

<?xml version="1.0"?>
<definitions name="BlockContact"
             targetNamespace="http://csci927.com/blockcontact.wsdl"
             xmlns:tns="http://csci927.com/blockcontact.wsdl"
             xmlns:xsd1="http://csci927.com/blockcontact.xsd"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
              
  
  <types>
    <schema targetNamespace="http://csci927.com/blockcontact.xsd"
            xmlns="http://www.w3.org/1999/XMLSchema">
      <element name="BlockContactRequest">
        <complexType>
          <all>
            <element name="SessionId" type="string"/>
            <element name="ContactUsername" type="string"/>
          </all>
        </complexType>
      </element>
      <element name="BlockContactResult">
        <complexType>
          <all>
            <element name="ReturnCode" type="int"/>
            <element name="ReturnMessage" type="string"/>
          </all>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="BlockContactInput">
    <part name="body" element="xsd1:BlockContactRequest"/>
  </message>
  
  <message name="BlockContactOutput">
    <part name="body" element="xsd1:BlockContactResult"/>
  </message>

  <portType name="BlockContactPortType">
    <operation name="BlockContact">
      <input message="tns:BlockContactInput"/>
      <output message="tns:BlockContactOutput"/>
    </operation>
  </portType>

  <binding name="BlockContactBinding" type="tns:BlockContactPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http">
      <operation name="BlockContact">
        <soap:operation soapAction="http://csci927.com/blockcontact">
          <input>
            <soap:body use="literal" namespace="http://csci927.com/blockcontact.xsd"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </input>
          <output>
            <soap:body use="literal" namespace="http://csci927.com/blockcontact.xsd"
                       encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </output>
        </soap:operation>
      </operation>
    </soap:binding>
  </binding>

  <service name="BlockContactService">
    <documentation>BlockContact Account Service</documentation> 
    <port name="BlockContactPort" binding="tns:BlockContactBinding">
    <soap:address location="http://csci927.com/blockcontact"/>
    </port>
  </service>
  
</definitions>